*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#game{
	--w: calc(100vw / 9);
	--h: calc(var(--w)*1.7);
	
	--f: ;
	
	--8: calc(var(--w) / 10);
	--4: calc(var(--w) / 20);
	--2: calc(var(--w) / 40);
	
	width: calc(var(--w)*9);
	margin: 0 auto;
}
@media (min-width: 700px){
	#game{
		--w: 77.7667px;
	}
}

#game table{
	border-collapse: collapse;
	margin: 0 auto;
}
#game td{
	padding: var(--8) var(--4);
}

.stack{
	position: relative;
	width: var(--w);
	height: var(--h);
	
	border: 1px dashed #AAA;
	border-radius: var(--8);
	transition: filter .15s ease;
}
.stack.can-drop{
	filter: drop-shadow(0 0 var(--4) #0F08);
}

.card{
	display: none;
	position: relative;
	width: var(--w);
	top: -1px;
	left: -1px;
	padding: 0 4px;
	
  font-size: var(--f);
	
	background: white;
	border: 1px solid black;
	box-shadow: 0 0 var(--4) #0003;
	cursor: default;
	transition: box-shadow .15s ease, 
    transform .15s ease,
		margin-bottom .15s ease;
}
.offset .card{
	display: block;
	height: calc(var(--w)*.4);
	margin-bottom: calc(-1 * var(--8));
	border-radius: var(--8) var(--8) 0 0;
}
.card:last-child{
	display: block;
	height: var(--h);
	border-radius: var(--8);
}

.card.red{
	color: red;
}
.card.hidden{
	background: #AAA;
}
.card.drag{
	box-shadow: 0 2px var(--8) #0004;
	transform: scale(1.05) translateY(-2px);
}

.stack[can-drag="false"] .card{
	box-shadow: 0 0 var(--8) #0002 inset;
}


#rewind{
	position: absolute;
	display: block;
	bottom:8px;
	left: 8px;
	height: 60px;
	width: 60px;
	
	font-size: 20px;
	
	background: white;
	border: 1px solid black;
	border-radius: 50%;
	box-shadow: 0 0 var(--4) #0003;
	transition: .15s ease;
}
#rewind:hover{
	box-shadow: 0 2px var(--8) #0004;
	transform: scale(1.05) translateY(-2px);
}
#rewind:active{
	box-shadow: 0 0 var(--8) #0002 inset;
	transform: scale(.95) translateY(2px);
}







